<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>書籍登録</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>書籍登録</h1>

    <form th:action="@{/register-form}" th:object="${bookForm}" method="POST">
      <label for="title">書籍タイトル</label><br>
      <div th:if="${#fields.hasErrors('title')}">
        <span th:errors="*{title}"></span><br>
      </div>
      <input type="text" th:field="*{title}"><br>
      <label for="purchaseDate">購入日</label><br>
      <div th:if="${#fields.hasErrors('purchaseDate')}">
        <span th:errors="*{purchaseDate}"></span><br>
      </div>
      <input type="date" th:field="*{purchaseDate}"><br>
      <button type="submit">入力内容を確認</button>
    </form>
    <a th:href="@{/}">メニューへもどる</a>
  </body>

</html>
